{% import 'macros/form.html' as form %}


{%- set options=[] -%}
{%- set form_restrict_choices_to=field.get('form_restrict_choices_to') -%}
{%- if not h.scheming_field_required(field) or
    field.get('form_include_blank_choice', false) -%}
  {%- do options.append({'value': '', 'text': ''}) -%}
{%- endif -%}
{%- for c in h.scheming_field_choices(field) -%}
  {%- if not form_restrict_choices_to or c.value in form_restrict_choices_to -%}
    {%- do options.append({
      'value': c.value|string,
      'text': h.scheming_language_text(c.label) }) -%}
  {%- endif -%}
{%- endfor -%}
{%- if field.get('sorted_choices') -%}
  {%- set options = options|sort(case_sensitive=false, attribute='text') -%}
{%- endif -%}
{%- if data[field.field_name] -%}
  {%- set option_selected = data[field.field_name]|string -%}
{%- else -%}
  {%- set option_selected = None -%}
{%- endif -%}

{%- call form.input_block(
    label=h.scheming_language_text(field.label),
    classes=field.classes if 'classes' in field else ['control-medium'],
    error=errors[field.field_name],
    is_required=h.scheming_field_required(field)) -%}
    <fieldset class="radio-group" id="field-{{field.field_name}}">
      {%- for c in field.choices -%}
        <div>
          <label for="field-{{ field.field_name }}-{{ c.value }}">
            <input id="field-{{ field.field_name }}-{{ c.value }}"
                type="radio"
                name="{{ field.field_name }}"
                value="{{ c.value }}"
                {{ "checked " if c.value == data[field.field_name] }} />
            {{ h.scheming_language_text(c.label) }}
          </label>
        </div>
      {%- endfor -%}
    </fieldset>
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{%- endcall -%}



<script>
  
  function toggleFields() {

    var selectedOption = document.getElementById('field-type_of_dataset').value;
      // Show all fields for the selected option
      var fields = document.querySelectorAll(".form-group");
      fields.forEach(function (field) {
          field.style.display = 'block';
      });
  
        // if this fileId is null, then it is create dataset page 
        // in other hand it is update dataset page
      var fileId = document.getElementById('field-id').value;

      if(fileId === null || fileId === ''){

         // Customize visibility based on the selected option
         if (selectedOption === 'txc_data'){
          document.querySelector("#content > div.row.wrapper > div.primary > section.module > div:nth-child(1 of .form-group.control-medium)").style.display = 'none';

         }
         if (selectedOption === 'financial_data') {
          // Hide specific fields for Financial Data
          document.querySelector("#content > div.row.wrapper > div.primary > section.module > div:nth-child(2 of .form-group.control-medium)").style.display = 'none';
          document.querySelector("#content > div.row.wrapper > div.primary > section.module > div:nth-child(3 of .form-group.control-medium)").style.display = 'none';
          document.querySelector("#content > div.row.wrapper > div.primary > section.module > div:nth-child(5 of .form-group.control-medium)").style.display = 'none';
          document.querySelector("#content > div.row.wrapper > div.primary > section.module > div:nth-child(6 of .form-group.control-medium)").style.display = 'none';

        }
    }
    else{
      document.getElementById('field-type_of_dataset').disabled=true;

      if (selectedOption === 'txc_data'){
        document.querySelector("#content > div.row.wrapper > div.primary > section.module > div:nth-child(1 of .form-group.control-medium)").style.display = 'none';
        document.querySelector("#content > div.row.wrapper > div.primary > article.module > div:nth-child(1 of .form-group.control-medium)").style.display = 'none';

      }
      // Customize visibility based on the selected option
      if (selectedOption === 'financial_data') {
        // Hide specific fields for Financial Data
        document.querySelector("#content > div.row.wrapper > div.primary > section.module > div:nth-child(2 of .form-group.control-medium)").style.display = 'none';
        document.querySelector("#content > div.row.wrapper > div.primary > section.module > div:nth-child(3 of .form-group.control-medium)").style.display = 'none';
        document.querySelector("#content > div.row.wrapper > div.primary > section.module > div:nth-child(5 of .form-group.control-medium)").style.display = 'none';
        document.querySelector("#content > div.row.wrapper > div.primary > section.module > div:nth-child(6 of .form-group.control-medium)").style.display = 'none';
        document.querySelector("#content > div.row.wrapper > div.primary > article.module > div:nth-child(2 of .form-group.control-medium)").style.display = 'none';
        document.querySelector("#content > div.row.wrapper > div.primary > article.module > div:nth-child(3 of .form-group.control-medium)").style.display = 'none';
        document.querySelector("#content > div.row.wrapper > div.primary > article.module > div:nth-child(5 of .form-group.control-medium)").style.display = 'none';
        document.querySelector("#content > div.row.wrapper > div.primary > article.module > div:nth-child(6 of .form-group.control-medium)").style.display = 'none';

    } 
  }
}

  toggleFields();
  document.getElementById('field-author').disabled = true;
  document.getElementById('field-type_of_dataset').addEventListener('change', toggleFields);
  </script>